@use "../abstracts" as *;

//home
.home-view {
    position: relative;

    &::after {
        background-color: $color-brand-secondary-dark;
        border-bottom: $size-3x solid $color-brand-primary;
        transform: skewY(172deg);

        @include mediaQuery(tablet-landscape) {
            // transform: skewY(170deg);
            top: -15%;
        }
    }

    @include mediaQuery(tablet-landscape) {
        padding-block-start: $size-12x;
    }
}

// Hero
.hero {
    z-index: 999;

    @include mediaQuery(tablet-landscape) {
        position: relative;
    }

    &__wrapper {
        display: grid;
        gap: $size-6x;
        grid-auto-flow: column;
        grid-template-columns: 1fr repeat(10, 1fr) 1fr;
        padding-block: calc($size-25x + 1rem) $size-25x;

        @include mediaQuery(tablet) {
            align-items: center;
            gap: $size-15x;
            // padding-block-start: $size-31x;
            padding-block: $size-31x $size-10x;
        }

        @include mediaQuery(tablet-landscape) {
            padding-block: $size-50x $size-40x;
        }

        @include mediaQuery(large) {
            padding-block: $size-55x;
        }

        @include mediaQuery(huge) {
            padding-block: $size-60x $size-63x;
        }
    }

    &__image-wrapper {
        grid-column: 1 / -1;

        @include mediaQuery(tablet) {
            grid-column: 7 / -1;
        }

        @include mediaQuery(tablet-landscape) {
            position: absolute;
            right: 0;
            top: 55%;
            transform: translateY(-55%);
        }

        @include mediaQuery(desktop) {
            grid-column: 8 / -1;
        }

        @include mediaQuery(large) {
            transform: translateY(-50%);
        }
    }

    &__image {
        border-radius: $radius-sm;
        width: 100%;

        @include mediaQuery(tablet) {
            // transform: scale(1.15) translateY($size-4x);

            transform: scale(1.45) translate($size-13x, $size-10x);
        }

        @include mediaQuery(tablet-landscape) {
            max-width: 46rem;
        }

        @include mediaQuery(large) {
            max-width: 58rem;
            transform: scale(1.15) translateY(0);
        }

        @include mediaQuery(huge) {
            max-width: 68rem;
            transform: scale(1.15) translateY($size-4x);
        }
    }

    &__content {
        grid-column: 1 / -1;

        @include mediaQuery(tablet) {
            grid-column: 1 / 7;
        }

        @include mediaQuery(desktop) {
            grid-column: 1 / 8;
        }
    }

    &__description {
        font-size: $fs-lead;
        margin-block: $size-4x $size-6x;
        max-width: 50rem;

        @include mediaQuery(tablet-landscape) {
            margin-block: $size-5x $size-12x;
        }
    }

    &__btn {
        @include mediaQuery(tablet) {
            width: max-content;
        }
    }
}

//Features
.features {
    @include mediaQuery(tablet) {
        text-align: center;
    }

    &__wrapper {
        @include mediaQuery(tablet) {
            padding-block-start: $size-35x;
        }

        @include mediaQuery(large) {
            padding-block-start: $size-5x;
        }
    }

    &__heading {
        @include mediaQuery(tablet) {
            margin-inline: auto;
        }
    }

    &__description {
        @include mediaQuery(tablet) {
            max-width: 90%;
            margin-inline: auto;
        }
    }

    &__list {
        align-items: flex-start;
        flex-direction: column;
        gap: $size-9x;
        margin-block-start: $size-10x;

        @include mediaQuery(tablet) {
            flex-direction: row;
        }

        @include mediaQuery(large) {
            margin-block-start: $size-20x;
        }
    }

    &__item {
        gap: $size-7x;
        line-height: inherit;

        @include mediaQuery(tablet) {
            flex-direction: column;
        }

        &-text {
            font-size: $fs-body-md;
        }
    }

    &__icon {
        width: $size-15x;
    }

    &__title {
        margin-block-end: $size-3x;
        font-weight: $fw-bold;
        color: $color-brand-secondary-dark;
    }
}

// Why Us
.why-us {
    @include mediaQuery(large) {
        &__wrapper {
            display: flex;
            flex-direction: column;
            row-gap: $size-31x;
        }
    }

    &__card {
        &--middle {
            margin-block: $size-15x;

            @include mediaQuery(tablet-landscape) {
                flex-direction: row-reverse;
            }

        }

        @include mediaQuery(large) {
            column-gap: $size-25x;
            margin-block: 0;
        }
    }

    &__image {
        width: 100%;
        border-radius: $radius-sm;
        box-shadow: $card-shadow;
        margin-block-start: $size-8x;

        @include mediaQuery(large) {
            margin-block-start: 0;
        }
    }
}

// Pricing
.pricing {
    @include mediaQuery(tablet-landscape) {
        max-width: var(--container-width);
        margin-inline: auto;
    }

    border-bottom: 0.1rem solid $color-brand-secondary-lighter;
    padding-block:$size-15x $size-12x;
    margin-block-start: $size-13x;

    @include mediaQuery(tablet) {
        text-align: center;
        padding-block: $size-10x $size-18x;
        margin-block-start: $size-35x;
    }

    @include mediaQuery(large) {
        padding-block-end: $size-25x;
    }

    &__heading {
        color: $color-neutral-100;

        @include mediaQuery(tablet) {
            margin-inline: auto;
        }
    }

    &__description {
        margin-block: $size-5x $size-10x;

        @include mediaQuery(tablet) {
            margin-inline: auto;
            max-width: 60ch;
        }

        @include mediaQuery(large) {
            margin-block: $size-8x $size-20x;
        }
    }

    &__list {
        @include mediaQuery(tablet-landscape) {
            display: flex;
            justify-content: center;
            gap: $size-15x;
        }
    }

    &__plan {
        align-items: normal;
        background-color: $color-neutral-100;
        border-radius: $radius-sm;
        box-shadow: $card-shadow-2;
        flex-direction: column;
        padding: $size-7x $size-7x $size-10x;

        @include mediaQuery(tablet-landscape) {
            width: 100%;

            &--starter,
            &--premium {
                background-color: $color-neutral-350;
            }

            &--standard {
                box-shadow: $card-shadow-2-active;
            }
        }

        @include mediaQuery(large) {
            max-width: 34rem;
            padding: $size-13x $size-13x $size-18x;
        }
    }

    &__sub-heading {
        margin-block-end: $size-2x;

        @include mediaQuery(tablet-landscape) {
            &--light {
                color: $color-neutral-100;
            }
        }
    }

    &__label {
        font-size: $fs-body-sm;
    }

    &__divider {
        border-top: 0.1rem solid $color-neutral-250;
        margin-block: $size-5x;

        @include mediaQuery(tablet-landscape) {
            margin-block: $size-8x;
        }

        &--dark {
            @include mediaQuery(tablet-landscape) {
                border-color: $color-brand-secondary-lighter;
            }
        }
    }

    &__per-month {
        align-items: baseline;
        color: $color-brand-secondary-dark;
        font-size: $fs-title-lg;
        justify-content: center;
        line-height: 1;
        margin-block-end: $size-2x;

        &--light {
            @include mediaQuery(tablet-landscape) {
                color: $color-neutral-100;
            }
        }
    }

    &__symbol--light {
        @include mediaQuery(tablet-landscape) {
            color: $color-neutral-100;
        }
    }

    &__btn {
        margin-block-start: $size-7x;
    }
}

// Footer
.footer {
    padding-block-start: $size-12x;

    &-view {
        position: relative;

        &::after {
            background-color: $color-brand-secondary-dark;
            border-top: $size-3x solid $color-brand-primary;
            transform: skewY(172deg);
            transform-origin: bottom left;
        }

        &::before {
            background-color: $color-brand-secondary-dark;
            bottom: -5%;
            top: unset;
        }
    }

    @include mediaQuery(large) {
        padding-block-start: $size-15x;
    }

    &__container {
        justify-content: space-between;
    }

    &__social {
        gap: $size-6x;
    }

    &__icon {
        width: $size-6x;

        &--facebook {
            width: $size-3x;
        }
    }
}