@use "../abstracts" as *;

.l-container {
  $container-width: var(--container-width);

  max-width: $container-width;
  margin-inline: auto;

  &-full {

    &::after,
    &::before {
      content: '';
      left: 0;
      top: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }

    &::before {
      height: 50%;
    }

    &::after {
      height: 100%;
    }
  }
}