@use "../abstracts" as *;

.l-container {
  $container-width: var(--container-width);

  max-width: $container-width;
  margin-inline: auto;

  &-full {
    background-color: $color-brand-secondary-dark;
  }
}