@use "../abstracts" as *;

// Footer
.footer {
  padding-block: $size-15x $size-13x;

  &-view {
    @include mediaQuery(tablet-landscape) {
      padding-block-start: $size-30x;
    }

    &__wrapper {
      background-color: $color-brand-secondary-dark;
      background-image: url("../../assets/images/footer-background.png");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: cover;
      position: relative;

      @include mediaQuery(large) {
        background-size: contain;
      }

      &::after {
        background-color: $color-brand-secondary-dark;
        border-top: $size-3x solid $color-brand-primary;
        top: -$size-5x;
        transform: skewY(172deg);
        transform-origin: bottom left;
      }

      &::before {
        display: none;
      }
    }
  }

  &__nav-list {
    display: none;

    @include mediaQuery(tablet-landscape) {
      display: flex !important;
    }
  }

  @include mediaQuery(large) {
    padding-block-start: $size-15x;
  }

  &__container {
    justify-content: space-between;
  }

  &__social {
    gap: $size-6x;
  }

  &__icon {
    width: $size-6x;

    &--facebook {
      width: $size-3x;
    }
  }
}
